<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <package name="com.ssmdemo.pojo"/>
    </typeAliases>
   <!-- <typeAliases>
        <package name="com."/>
        <package name="com.lujunzhi.bean"/>
    </typeAliases>-->

    <!--每一个mapper.xml都需要注册，或者注册一个路径-->
    <mappers>
      <package name="com.ssmdemo.dao"/>
    </mappers>
</configuration>